{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-12 ml-auto mr-auto text-center">
            <br>
            <a class="btn btn-light" href="{{ path('view') }}">Search Again</a>
            <a class="btn btn-light" href="{{ path('fos_user_security_logout') }}">Logout</a>
            <br><br>

            <div id="twitch-embed"></div>
        </div>
    </div>

    <br><br>
    <div class="row">
        <div class="col-8 ml-auto mr-auto">

            <h5>Last 10 Events</h5>
            <div class="ws-output"></div>
        </div>
    </div>

    <br><br><br>


{% endblock %}

{% block javascripts %}
    <script src="https://embed.twitch.tv/embed/v1.js"></script>
    <script src="//gitcdn.xyz/repo/tmijs/cdn/master/latest/1.x/tmi.js"></script>

    <script>

        // https://docs.tmijs.org/v1.4.2/Commands.html
        const options = {
            options: {
                // debug: true
            },
            connection: {
                reconnect: true,
                secure: true,
            },
            identity: {
                username: "LeekaTVBot",
                password: "oauth:{{ app.user.twitchAccessToken }}"
            },
            channels: ['{{ channel }}']
        };

        const client = new tmi.client(options);

        client.on("cheer", (channel, userstate, message) => {

            var msg = userstate.username + " Cheered for " + userstate.bits + " bits";
            events.unshift(msg);
            update();
        });

        client.on("subscription", (channel, username, method, message, userstate) => {

            var msg = username + " " + method.plan + " Subscription";

            events.unshift(msg);
            update();
        });

        client.on("resub", function (channel, username, months, message) {
            var msg = username + " Subbed for " + months + " Months - "+message;

            events.unshift(msg);
            update();
        });

        client.on("subgift", (channel, username, streakMonths, recipient, methods, userstate) => {

            var msg = username +" gifted " + recipient + "a sub";
            events.unshift(msg);
            update();
        });

        client.connect().then(function(data) {
            console.dir('CONNECTED')
            // data returns [server, port]
        }).catch(function(err) {
            console.dir('NOT CONNECTED');
            console.dir(err);
        });

        var events = [];

        function update() {

            // only show 10 events
            if (events.length > 10)
                events.pop();

            // todo
            $('.ws-output').html('');
            var time = new Date().toLocaleTimeString();

            events.forEach(function(entry) {

                var html = "<div class='card'><div class='card-body'><small>"+time + " | "+entry+"</small></div></div>";
                $('.ws-output').append(html);
            });
        }

        var embed = new Twitch.Embed("twitch-embed", {
            width: 1000,
            height: 480,
            channel: "{{ channel }}",
        });

    </script>

{% endblock %}