{% extends 'base.html.twig' %}

{% block body %}

    <br>
    <div class="row">
        <div class="col-6 ml-auto mr-auto">

            {% if error is defined %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endif %}

            <form method="get" class=e">
                <label for="channel">
                    Twitch User Search:
                </label>
                <input id="channel" type="text" name="channel" class="form-control" required>
                <div class="text-right">
                    <br>
                    <button class="btn btn-success">Search</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}