{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-12 text-center">
            <br><br>
            <h5>StreamerEventViewer Demo App</h5>

            <br><br>
            <a class="btn btn-primary" href="{{ path('hwi_oauth_service_redirect', {service: 'twitch'}) }}">
                Connect with Twitch
            </a>
        </div>
    </div>

{% endblock %}